@model ExamMVC.ViewModels.ExamViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exam.ExamDate" class="control-label"></label>
                <input asp-for="Exam.ExamDate" class="form-control" />
                <span asp-validation-for="Exam.ExamDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam.Grade" class="control-label"></label>
                <input asp-for="Exam.Grade" class="form-control" />
                <span asp-validation-for="Exam.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam.StudentNumber" class="control-label"></label>
                <select asp-for="Exam.StudentNumber" class="form-control"
                        asp-items="@(new SelectList(Model.DropBoxViewModel.Students, "StudentNumber", "FirstName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Exam.SubjectCode" class="control-label"></label>
                <select asp-for="Exam.SubjectCode" class="form-control"
                        asp-items="@(new SelectList(Model.DropBoxViewModel.Subjects, "SubjectCode", "SubjectName"))">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
